@model LibraryManagement.Models.Staff

@{
	ViewData["title"] = "UdateStaff";
}

<h1>Update Staff details</h1>

<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Update">
			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="StaffId" class="control-label"></label>
				<input asp-for="StaffId" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="StaffName" class="control-label"></label>
				<input asp-for="StaffName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="StaffPosition" class="control-label"></label>
				<input asp-for="StaffPosition" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" value="save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" >Back to List</a>
</div>