@model MasjidManagement.Models.Volunteer

@{
	ViewData["Title"] = "UpdateVol";
}

<h1>Update volunteer Info</h1>
<hr/>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Update">
			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="VId" class="control-label"></label>
				<input asp-for="VId" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="VName" class="control-label"></label>
				<input asp-for="VName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="VRole" class="control-label"></label>
				<input asp-for="VRole" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="VContactNumber" class="control-label"></label>
				<input asp-for="VContactNumber" class="form-control" />
			</div>

			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="save" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>