@model UniversityManagement.Models.Exam

@{
	ViewData["Title"] = "UpdateCourse";
}

<h1>Update Exam details</h1>

<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Update">
			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="ExamId" class="control-label"></label>
				<input asp-for="ExamId" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="ExamName" class="control-label"></label>
				<input asp-for="ExamName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="ExamDate" class="control-label"></label>
				<input asp-for="ExamDate" class="form-control" />
			</div>

			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="save" />
			</div>

		</form>
	</div>
</div>


<div>
	<a asp-action="Index">Back to List</a>
</div>