@model MasjidManagement.Models.PrayerTime

@{
	ViewData["Title"] = "CreatePrayerTime";
}

<h1>Set prayer time</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">

			<div class="form-group">
				<label asp-for="PrayerName" class="control-label"></label>
				<input asp-for="PrayerName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="PrayerStart" class="control-label"></label>
				<input asp-for="PrayerStart" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="PrayerEnd" class="control-label"></label>
				<input asp-for="PrayerEnd" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>

	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>