@model MasjidManagement.Models.Donation

@{
	ViewData["Title"] = "Create";
}

<h1>Donor create</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">

			<div class="form-group">
				<label asp-for="DonorId" class="control-label"></label>
				<input asp-for="DonorId" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="DonorName" class="control-label"></label>
				<input asp-for="DonorName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="Amount" class="control-label"></label>
				<input asp-for="Amount" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="DonationDate" class="control-label"></label>
				<input asp-for="DonationDate" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>

	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>