@model UniversityManagement.Models.Department

@{
	ViewData["Title"] = "CreateDept";
}

<h2>Create a Department</h2>

<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div class="form-group">
				<label asp-for="DeptName" class="control-label"></label>
				<input asp-for="DeptName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="DeptHead" class="control-labek"></label>
				<input asp-for="DeptHead" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="EsatablishedYear" class="control-label"></label>
				<input asp-for="EsatablishedYear" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>


<div>
	<a asp-action="Index">Back to List</a>
</div>