@model MasjidManagement.Models.Event

@{
	ViewData["Title"] = "CreateEvent";
}

<h2>Create a event</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">

			<div class="form-group">
				<label asp-for="EventName" class="control-label"></label>
				<input asp-for="EventName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="EventId" eclass="control-label"></label>
				<input asp-for="EventId" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="Location" class="control-label"></label>
				<input asp-for="Location" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>

	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>