@model MasjidManagement.Models.Event

@{
	ViewData["title"] = "UpdateEvent";
}

<h2>Update Event Info</h2>

<hr />

<div class="row">
	<div class="col-md-4">

		<form asp-action="Update">
			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="EventId" class="control-label"></label>
				<input asp-for="EventId" class="form-control" />

			</div>

			<div class="form-group">
				<label asp-for="EventName" class="control-label"></label>
				<input asp-for="EventName" class="form-control" />
			</div>

			<div class="form-group">
				<label asp-for="Location" class="control-label"></label>
				<input asp-for="Location" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>

	</div>
</div>

<div>
	<a asp-action="Index">back to List</a>
</div>